streamlit
Pillow
beautifulsoup4
newspaper3k
nltk
spacy==3.5.0
spacy-streamlit
yt-dlp
whisper
pydub
torch>=1.12.1
transformers
requests
numpy
scipy
youtube-transcript-api
pytextrank
speechrecognition
googlenewsdecoder
lxml_html_clean
pip==24.3.1
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl

thinc>=8.1.0
cymem>=2.0.7
murmurhash>=1.0.8
preshed>=3.0.6

