streamlit
Pillow
beautifulsoup4
newspaper3k
nltk
spacy==3.5.0
spacy-streamlit
yt-dlp
whisper
pydub
torch
transformers
requests
numpy
scipy
youtube-transcript-api
pytextrank
speechrecognition
googlenewsdecoder
lxml_html_clean
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
pip==24.3.1

