streamlit
Pillow
beautifulsoup4
newspaper3k
nltk
spacy
spacy-streamlit
yt-dlp
whisper
pydub
torch
transformers
requests
numpy
scipy
youtube-transcript-api
pytextrank
speechrecognition
googlenewsdecoder
lxml_html_clean 
